{% extends 'layout.twig' %}
{% block head_js %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block title %}Login - {% endblock %}
{% block content %}
	<div class="form">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" href="javascript:;" role="tab">Login</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/register" role="tab">Register</a>
			</li>
		</ul>
		<div class="tab-content">
			{% if error|length %}
				<p class="text-danger">{{ error }}</p>
			{% endif %}
			<form method="post">
				<div class="form-group">
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" class="form-control" name="login[email]" required placeholder="Email"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="login[pass]" required placeholder="Password"/>
						</div>
					</div>
				</div>
				<div class="form-group text-center">
					<input type="checkbox" name="login[remember]" id="remember">
					<label for="remember">&nbsp;Remember Me <span class="fa fa-warning text-warning" data-toggle="tooltip" title="Use this feature on your own risk.
Using it on public PC is NOT recommended!"></span>
					</label>
				</div>
				{% if failed_log_cnt > 1 and captcha %}
					<div class="g-recaptcha" data-sitekey="{{ captcha_key }}" style="margin-bottom:1em"></div>
				{% endif %}
				<div class="form-group ">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
				</div>
				<div class="form-group">
					<div class="text-center">
						<a href="/recover">Forgot Password?</a>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}