{% extends 'layout.twig' %}
{% block title %}User profile - {% endblock %}
{% block content %}
	<div class="profile">
		<p>Email: <strong>{{ user.getUserEmail }}</strong></p>
		<p>Registration time: <strong>{{ user.getRegistrationTime }}</strong></p>
		<p>Logged in via: <strong>{{ user.getLoggedInViaText }}</strong></p>
		{% if user.getSpecials %}
			<p>Specials: <strong>{{ user.getSpecials|join(', ') }}</strong></p>
		{% endif %}
		<hr>
		<form method="post">
			<h2>Change password</h2>
			{% if a==1 and user.getError|length %}
				<p class="text-danger">{{ user.getError }}</p>
			{% endif %}
			{% if user.oldUserPassRequired %}
				<div class="form-group">
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="pass[old]" required minlength="8" placeholder="Old Password"/>
						</div>
						<small class="form-text text-muted">You are logged in via remember me feature, so you must write your old password.</small>
					</div>
				</div>
			{% endif %}
			<div class="form-group">
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
						<input type="password" class="form-control" name="pass[pass]" required minlength="8" placeholder="New Password"/>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="cols-sm-10">
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
						<input type="password" class="form-control" name="pass[pass2]" required minlength="8" placeholder="Confirm New Password"/>
					</div>
				</div>
			</div>
			<div class="form-group ">
				<button type="submit" class="btn btn-primary btn-lg btn-block">Change</button>
			</div>
		</form>
		<hr>
		<hr>
		<h2>Delete account</h2>
		<div class="alert alert-danger">
			{{ 'Be aware! Your account will be permanently removed - no option for restore.' }}
		</div>
		<a class="btn btn-danger" href="?delete_acc" onclick="return confirm('Last chance - Are you sure?')">
			<span class="fa fa-trash"> Delete my account!</span>
		</a>
	</div>
{% endblock %}