{% extends 'layout.twig' %}
{% block head_js %}
	<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block title %}Password recovery - {% endblock %}
{% block content %}
	<div class="form">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" href="javascript:;" role="tab">Password recovery</a>
			</li>
		</ul>
		<div class="tab-content">
			{% if error|length %}
				<p class="text-danger">{{ error }}</p>
			{% endif %}
			<form method="post">
				<div class="form-group">
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
							<input type="email" class="form-control" name="rec[email]" required placeholder="Email"/>
						</div>
					</div>
				</div>
				{% if captcha %}
					<div class="g-recaptcha" data-sitekey="{{ captcha_key }}" style="margin-bottom:1em"></div>
				{% endif %}
				<div class="form-group ">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Send recovery email</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}