{% extends 'layout.twig' %}
{% block title %}Password change - {% endblock %}
{% block content %}
	<div class="form">
		<ul class="nav nav-tabs" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" href="javascript:;" role="tab">Password change</a>
			</li>
		</ul>
		<div class="tab-content">
			{% if error|length %}
				<p class="text-danger">{{ error }}</p>
			{% endif %}
			<form method="post">
				<div class="form-group">
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="ch[pass]" required minlength="8" placeholder="Password"/>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="cols-sm-10">
						<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="ch[pass2]" required minlength="8" placeholder="Confirm Password"/>
						</div>
					</div>
				</div>
				<div class="form-group ">
					<button type="submit" class="btn btn-primary btn-lg btn-block">Change password</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}