.form {
    margin: 5em auto;
    max-width: calc(302px + 4em);
}

.form .nav-link {
    color: #00415d;
}

.form .nav-link.active {
    color: #007bff;
    font-size: 1.1em;
    font-weight: bold;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.form .tab-content {
    border: 1px solid #ddd;
    padding: 2em;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
}